/* font content */
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Josefin+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Madimi+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&family=Sofia&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font logo */
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&family=Sofia&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    list-style: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 70%;
    scroll-behavior: smooth;
}
body{
    background-color: #EEEEEE;
}
.navigasi{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7%;
    background-color: #fff;
    z-index: 2;
    position: fixed;
    border-bottom:1px solid rgba(24, 23, 23,.8);
}
.navigasi .logo h2{
    font-size: 20px;
    color: #181717;
}
.navigasi .nav{
    display: flex;
    font-size: 16px;
    gap: 0 20px;
    z-index: 999;
}
.navigasi .nav li a{
    color: #181717;
}
.navigasi .nav li a.active{
    border-bottom: 1px solid #010101;
    padding: 1px  0;
}
.navigasi .nav li a::after{
    content: '';
    display: block;
    border-bottom: 1px solid #181717;
    transform: scale(0);
    transition: all .3s ease;
    cursor: pointer;
}
.navigasi .nav li a:hover::after{
    transform: scale(1);
}
#sub-bars{
    font-size: 20px;
    color: #181717;
}
#close{
    display: none;
}
.navigasi .bars{
    display: none;
}
.navigasi .icon a {
    color: #181717;
    font-size: 8px;
    margin-left: 10px;
}
#close{
    border-bottom: 0px solid #000;
}
/* navbar search strat */
.navigasi .search-form{
    position: absolute;
    top: 101%;
    right: 9%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    z-index: -2;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .3s ease;
}
.navigasi .search-form.active{
    transform: scaleY(1);
}
.navigasi .search-form input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 10px;
}
.navigasi .search-form label{
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}
/* navbar search end */
/* navbar cart start */
#cart-btn{
    position: relative;
}
#cart-btn .notif-quantity{
    display: inline-block;
    font-size: 16px;
    background-color: red;
    border-radius: 50%;
    padding: 0 5px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: -5px;
}
.navigasi .shopping-cart{
    position: absolute;
    top: 101%;
    right: -100%;
    width: 40rem;
    height: 100vh;
    background-color: #fff;
    color: #010101;
    transition: all .3s ease;
}
.navigasi .shopping-cart.active{
    right: 0;
}
.navigasi .shopping-cart .cart-item{
    display: flex;
    margin: 20px 0;
    gap: 25px;
    align-items: center;
    border-bottom: 1px solid #010101;
    padding: 10px;
}
.navigasi .shopping-cart .cart-item img{
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.navigasi .shopping-cart .item-title h3{
    font-size: 20px;
    padding-bottom: 13px;
}
.navigasi .shopping-cart .item-price{
    font-size: 15px;
}
.navigasi .shopping-cart .remove-item{
    position: absolute;
    right: 16px;
}
.navigasi .shopping-cart .remove-item:hover{
    color: red;
    cursor: pointer;
}
.navigasi .shopping-cart .button-cart{
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
}
.navigasi .shopping-cart .button-cart button{
    width: 100%;
    border: 1px solid #010101;
    font-size: 20px;
    padding: 15px 15px;
}
.navigasi .shopping-cart .button-cart .closecart-btn{
    background-color: #109767;
    transition: all .3s ease;
}
.navigasi .shopping-cart .button-cart .closecart-btn:hover{
    background-color: #046b47;
    color: #fff;
    cursor: pointer;
}
.navigasi .shopping-cart .button-cart .chekoutcart-btn{
    position: relative;
    font-size: 20px;
    background: transparent;
    padding: 10px 15px;
    z-index: 1;
}
.navigasi .shopping-cart .button-cart .chekoutcart-btn:hover{
    color: #fff;
    cursor: pointer;
}
.navigasi .shopping-cart .button-cart .chekoutcart-btn::after{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #109767;
    transition: all .4s ease;
    z-index: -1;
}
.navigasi .shopping-cart .button-cart .chekout::after{
    width: 0;
}
.navigasi .shopping-cart .button-cart .chekout:hover::after{
    width: 100%;
}
.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove{
    display: inline-block;
    padding: 2px 5px;
    margin: 0 8px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    background-color: #010101;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.shopping-cart h4{
    font-size: 20px;
    margin-top: -1px;
    text-align: center;
}
/* navbar cart end */

/* home start */
.home{
    padding-top: 40px;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cddfce;
    width: 100%;
}
.home .content-title{
    display: inline-block;
    width: 500px;
}
.home .content-title h2{
    font-size: 40px;
    color: #109767;
    font-family: "Lora", serif;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.home .content-title p{
    font-size: 16px;
    color: #6e6f6e;
    line-height: 22px;
    padding-bottom: 50px;
}
.home .content-title .btn{
    position: relative;
    font-size: 16px;
    color: #109767;
    font-family: "lora", sans-serif;
    font-weight: 500;
    background: transparent;
    border: 1px solid #109767;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: all .3s ease;
    z-index: 1;
}
.home .content-title .btn:hover{
    color: #fff;
}
.home .content-title .btn::after{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #109767;
    transition: all .4s ease;
    z-index: -1;
}
.home .content-title .view-collection::after{
    left: unset;
    right: 0;
    width: 0;
}
.home .content-title .view-collection:hover::after{
    left: 0;
    right: unset;
    width: 100%;
}
.home .img img{
    object-fit: cover;
    object-position: center;
   filter: drop-shadow( 0 15px 10px #000);
}
.product{
    display: flex;
    flex-direction: column;
    padding: 50px 7% 20px;
    background-color: #fff;
    text-align:center;
    width: 100%;
}
.product h2{
    color:#181717;
    font-size: 40px;
    font-family:"lora" serif;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.product p{
    font-size: 16px;
    color: #6e6f6e;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}
.product .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin-top: 50px;
    gap: 20px;
    padding: 2%;
}
.product .content .product-card{
    background-color: #c1c4c1;
    padding: 25px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0px 3px rgba(0, 0, 0, .10), 0 0px 2px rgba(0, 0, 0, .10);
}

.product .product-card .img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow( 0 8px 8px #000);
}
.product .product-card .title h2{
    font-size: 20px;
}
.product .product-card .title .stars{
    padding: 10px;
}
.product .product-card .title .price{
    color: #010101;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: bold;
}
.product .product-card .title .button .order {
    position: relative;
    font-size: 20px;
    color: #109767;
    background: transparent;
    border: 1px solid #109767;
    padding: 10px 15px;
    z-index: 1;
}
.product .product-card .title .button .order:hover{
    color: #fff;
}
.product .product-card .title .button .order::after{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #109767;
    transition: all .4s ease;
    z-index: -1;
}
.product .product-card .title .button .btn::after{
    height: 0;
}
.product .product-card .title .button .btn:hover::after{
    height: 100%;
}


/* about start */
.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.about .container-about{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 0 7%;
    background-color: #cddfce;
}
.about .about-title h2{
    font-size: 40px;
    font-weight: 900;
    color: #010101;
    padding-bottom: 15px;
}
.about .about-title p{
    font-size: 16px;
    line-height: 18px;
    color: #515251;
    padding-bottom: 30px;
}
.about .container-about a{
    background-color: #109767;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    padding: 10px 20px;
    color: #fff;
    transition: all .2s ease;
}
.about .container-about a:hover{
    padding: 10px 25px;
    background-color: #046b47;
}
.about .img-about img{
    width: 400px;
    height:300px;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow( 0 8px 8px rgb(0, 0, 0,.8));
}
.about-gallery{
    background-color: #fff;
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 30px 7%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin: 0 auto;
    position: relative;
}
.about-gallery .gallery-img{
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 5px;
    transition: all .3s ease;
}
.about-gallery .gallery-img:hover{
    border: 1px solid #109767;
    box-shadow: 0 0 7px  rgba(1, 1, 1,.3);
    cursor: pointer;
}
.about-gallery .gallery-img img{
    width: 100%;
    width: 100%;
    justify-content: center;
}
.about-gallery .gallery-img h2{
    font-size: 20px;
    padding: 10px 0;
}
.about-gallery .gallery-img p{
    font-size: 13px;
    padding-bottom: 25px;
    line-height: 16px;
}
.about-gallery .gallery-img .readMore{
    position: relative;
    font-size: 16px;
    background-color: transparent;
    color: #010101;
    border: 1px solid #109767;
    padding: 10px 20px;
    text-transform: uppercase;
    z-index: 1;
    transition: all .3s ease;
}
.about-gallery .gallery-img .readMore:hover{
    color: #fff;
}
.about-gallery .gallery-img .readMore::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #109767;
    z-index: -1;
}
.about-gallery .gallery-img .read-btn::after{
    width: 0;
    transition: all .3s ease;
}
.about-gallery .gallery-img .read-btn:hover::after{
    width: 100%;
}
/* about end */

/* blog start */
.blog-product{
    padding: 10px 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #cddfce;
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.blog-product .product-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 350px; */
}
.blog-product .shoes-box img{
    width: 300px;
    object-fit: cover;
    object-position: center;
}
.blog-product .shoes-item{
    display: flex;
    /* justify-content: center;
    align-items: center; */
   padding: 20px 0;
}
.blog-product .shoes-item .item-box{
    background-color: #c1c4c1;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: all .3s ease;
}
.blog-product .shoes-item .item-box.active{
    background-color: #109767;
}
.blog-product .shoes-item .item-box:hover{
    background-color: #109767;
}
.blog-product .shoes-item img{
    height: 50px;
    object-position: center;
    object-fit: cover;
}
.blog-product .content-blog{
   display: inline-block;
    height: 350px;
    justify-content: center;
    padding: 0 7%;
    align-items: center;
}
.blog-product .content-blog h2{
    font-size: 40px;
    padding: 20px 0 10px;
}
.blog-product .content-blog p{
    font-size: 16px;
    width: 100%;
    padding: 0 0 30px;
}
.blog-product .content-blog button{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: #109767;
    padding: 10px 20px;
    cursor: pointer;
    transform: scaleX(1);
    transition: all .3s ease;
}
.blog-product .content-blog button:hover{
    transform: scaleX(1.1);
    background-color: #046b47;
}
/* blog end */
/* footer start */
.contact-container{
    display:flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    height: 100%;
    padding: 10px 7%;
    background-color: #EEEEEE;
}
.contact-container .contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
    gap: 70px;
}
.contact-container .contact h2{
    font-size: 25px;
    padding: 10px 0;
    text-transform: capitalize;
}
.contact-container .contact p{
    line-height: 35px;
    font-size: 18px;
    color: #3e3d3d;
    cursor: pointer;
}
.contact-container .contact p:hover{
    color: #109767;
}

.contact-container .contact .navigation p a{
    color: #3e3d3d;
}
.contact-container .contact .navigation p a:hover{
    color: #109767;
}
.contact-container .contact .get-social p i{
    font-size: 16px;
    color: #000;
}
.contact-container .contact .get-social p span{
    margin-left: 10px;
}
.contact-container .contact .contact-c p{
    color: #000;
    font-weight: 500;
}
.contact-container .contact .contact-c p span{
    color: #3e3d3d;
    font-weight: 100;
}
.contact-container .contact .contact-c p span:hover{
    color: #046b47;
}
.footer{
    background-color: #303030;
    width: 100%;
    padding: 10px 7%;
}
.footer p{
    font-size: 20px;
    color: #cddfce;
    padding: 30px 0;
    text-align: center;
}

/* footer end */
/* home end */
@media (max-width: 900px){
    .home .img img{
        width: 400px;
        object-fit: cover;
        object-position: center;
        filter: drop-shadow( 0 15px 10px #000);
    }
}

@media (max-width: 768px){
    .home .img img{
        width: 300px;
        object-fit: cover;
        object-position: center;
        filter: drop-shadow( 0 15px 10px #000);
    }
    /* about section start */

    .about .img-about img{
        width:300px;
        height:300px;
        object-fit: cover;
        object-position: center;
        filter: drop-shadow( 0 8px 8px rgb(0, 0, 0,.8));
    }
    /* about section end */
    /* blod start */
    .blog-product{
        display: grid;
        grid-template-columns: 1fr;
    }
    /* blod end */

@media (max-width: 600px){
    html{
        font-size: 65%;
    }
    .navigasi .nav{
        display: block;
        position: absolute;
        width: 25rem;
        height: 100vh;
        top: 0;
        left: -1000%;
        right: 0;
        text-align: center;
        background-color: #fff;
        font-size: 16px;
        padding: 20px;
        transition: all .5s ease;
    }
    .navigasi .nav.active{
        left: 0;
    }
    .navigasi .nav li{
        color: #fff;
        margin: 26px 0;
        font-size: 22px;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
    }
    .navigasi .nav li:hover{
        color: #fffefe;
        background-color: rgba(161, 155, 155,.12);
        width: 100%;
    }
    .navigasi .nav li a.active{
        border-bottom: 0 solid #010101;
        padding: 1px  0;
    }
    .navigasi .nav li a:hover::after{
        transform: scale(0);
    }
    #close{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: -87%;
        font-size: 25px;
    }
    .navigasi .bars{
        display: block;
    }
    .navigasi .search-form{
        position: absolute;
        top: 101%;
        right: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: -2;
        align-items: center;
        transform: scaleY(0);
        transform-origin: top;
        transition: all .3s ease;
    }
    /* home start */
    .home{
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #cddfce;
        width: 100%;
    }
    /* home end */
    /* section shoppingcart start */
    .navigasi .shopping-cart{
        width: 100%;
    }
    /* section shoppingcart end */
    /* about start  */
    .about .container-about{
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        padding: 25px 7%;
    }
    .about{
        padding-top: 70px;
    }
    /* about end */
}
    
    
}
@media (max-width: 400px){
    .navigasi .nav{
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        right: 0;
        text-align: center;
        background-color: #fff;
        font-size: 16px;
        padding: 10px;
        transition: all .3s ease;
    }
}